version: '2'

services:
  master:
    image: devopsevd/oss-jmeter-master
    container_name: master
    tty: true
  slave:
    image: devopsevd/oss-jmeter-slave

networks:
  default:
    external:
      name: bundlev2_prodnetwork
